body, html {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

div {
    flex: 1;
    display: block;
}
/*****************************************************************************************************************************************/

/*Nuevo index **********************************************/
#hindex{
    text-align: center;
    background-color: #E8E1D3;
}

#logo{
    padding-top: 1%;
    margin-bottom: 1%;
}

#navOpciones{
    background-color: #1B3353;
    padding: 1%;
}

.opciones{
    color: #FFFFFF;
    margin: 2%;
    text-align: center;
    font-size: 16px;
    font-style: bold;
}

/* #banner{
    background-image: url("../img/index/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
} */


 


#index{
    text-align: center;
}

#descripcion{
    background-color: #E8E1D3;
    padding: 1%;
}

#eslogan{
    background-color: #9C917E;
    padding: 3%;
    color: #FFFFFF;
}

h1{
    font-size: 48px;
    font-style: bold;
}

#descripcionContenido{
    font-style: bold;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 30pt;
}

#carta{
    background-color: #E8E1D3;
    padding: 10%;
}

.imagenes{
    border-radius: 150px;
}

#findex{
    background-color: #1B3353;
    height: 250px;
    display: flex;
}

h5{
    color:white;
}

.contentFooter{
    margin-left: 13%;
    margin-top: 2%;
}
/*****************************************************************************************************************************************/





/* menu.php ************************************************************************************/


/* .lista_articulos {
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.sidebar {
    margin-top: 80px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F5F2F5;
    overflow-x: hidden;
     padding-top: 60px;
}

#no_bar {
    padding: 16px;
}

.listaMenu {
    margin: 100px;
}

#comprar{
    position: fixed;
    bottom: 0;
} */


/*****************************************************************************************************************************************/


/* administracion.php ************************************************************************************/
#usuario{
    margin-bottom: 25px;
    text-align: center;
}

#contra{
    margin-bottom: 10px;
    text-align: center;
}

#recordar{
    margin-left: 43%;
    margin-bottom: 50px;
}

#enviar{
    text-align: center;
}

.usuPass{
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

#login{
    width: 255px;
    height: 30px;
    border-radius: 5px;
}
/*****************************************************************************************************************************************/



/* finalizacion.php ************************************************************************************/
.buttonFinalizacion {
    border: none;
    color: white;
    padding: 10px 36px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.buttonFinalizacionAzul {
    background-color: rgb(190, 240, 255);
    color: black;
    border: 2px solid #008CBA;
}

.buttonFinalizacionAzul:hover {
    background-color: #008CBA;
    color: white;
}

.form {
    max-width: 400px;
    background: #e3f2fd;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.formInput {
    width:100%;
    height:36px;
    margin:2px 0 30px;
    padding-left:6px;
    box-sizing: border-box;
    border-radius:10px;
    border:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1em;
}

label span {
    color: #f00
}

.formImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 80%;
  }
/*****************************************************************************************************************************************/


/* admin.php ************************************************************************************/
.display {
    border: none;
    color: white;
    padding: 5px 5px;
    /* display: block; */
    width: 220px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-bottom: 30px; */
    font-size: 20px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.comanda {
    background-color: rgb(190, 240, 255);
    color: black;
    border: 2px solid #008CBA;
}

.comanda:hover {
    background-color: #008CBA;
    color: white;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 520px; /* New width for default modal */
    }
}

.modal .modal-content{
    overflow:hidden;
}

.modal-dialog{
    overflow-y: initial !important;
}

.modal-body{
    height: 400px;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.btn-secondary {
    margin-left:50%;
    height: 40px;
}

.blur {

    /* Any browser which supports CSS3 */
   filter: blur(5px);

   /* Firefox version 34 and earlier */
   filter: url("./svg/blur.svg#gaussian_blur");

   /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
   -webkit-filter: blur(5px);
}