/*GENERAL*/

body, html {
    font-family: "Open Sans", sans-serif;
    background-color: #E8E1D3;
    font-style: italic;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 48px;
    font-style: bold;
}

.margenes{
    margin-right: 10%;
    margin-left: 10%;
}

/* HEADER */

.hindex{
    text-align: center;
    background-color: #E8E1D3;
    
}

.logo{
    padding: 10px;
}

.navOpciones{
    z-index:100;
    background-color: #1B3353;
    padding: 1%;
}

.opciones{
    color: #FFFFFF;
    margin: 2%;
    text-align: center;
    font-size: 16px;
    font-style: bold;
}

/* FOOTER */

.findex{
    padding-top: 25px;
    background-color: #1B3353;
    height: 175px;
    display: flex;

}

.contentFooter{
    padding-left: 10%;
    padding-right: 10%;

    color: #FFFFFF;
}

/* INDEX */

.index{
    text-align: center;
}

.imagenesCarousel{
    height:100%; 
}

.descripcion{
    background-color: #E8E1D3;
    padding: 10px;
}

.descripcionContenido{
    text-align: justify;
    line-height: 30pt;
}

.eslogan{
    background-color: #9C917E;
    padding: 3%;
    color: #FFFFFF;
}

.cartaIndex{
    background-color: #E8E1D3;
    padding: 30px;
}

.imagenesCarta{
    border-radius: 100%;
}


/* MENU */

.sidebar {
    display: block;
    background-color: white;
}

#comprar{
    background-color: #9C917E;
    color: white;
    border: none;
}

#botonVaciar{
    background-color: red;
    color: white;
    border: none;
}




/*****************************************************************************************************************************************/


/* administracion.php ************************************************************************************/
#usuario{
    margin-bottom: 25px;
    text-align: center;
}

#contra{
    margin-bottom: 10px;
    text-align: center;
}

#recordar{
    margin-left: 43%;
    margin-bottom: 50px;
}

#enviar{
    text-align: center;
}

.usuPass{
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

#login{
    width: 255px;
    height: 30px;
    border-radius: 5px;
}
/*****************************************************************************************************************************************/



/* finalizacion.php ************************************************************************************/
.buttonFinalizacion {
    border: none;
    color: white;
    padding: 10px 36px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.buttonFinalizacionAzul {
    background-color: rgb(190, 240, 255);
    color: black;
    border: 2px solid #008CBA;
}

.buttonFinalizacionAzul:hover {
    background-color: #008CBA;
    color: white;
}

.form {
    max-width: 400px;
    background: #e3f2fd;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.formInput {
    width:100%;
    height:36px;
    margin:2px 0 30px;
    padding-left:6px;
    box-sizing: border-box;
    border-radius:10px;
    border:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1em;
}

label span {
    color: #f00
}

.formImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 80%;
  }
/*****************************************************************************************************************************************/


/* admin.php ************************************************************************************/
.display {
    border: none;
    color: white;
    padding: 5px 5px;
    /* display: block; */
    width: 220px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-bottom: 30px; */
    font-size: 20px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.comanda {
    background-color: rgb(190, 240, 255);
    color: black;
    border: 2px solid #008CBA;
}

.comanda:hover {
    background-color: #008CBA;
    color: white;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 520px; /* New width for default modal */
    }
}

.modal .modal-content{
    overflow:hidden;
}

.modal-dialog{
    overflow-y: initial !important;
}

.modal-body{
    height: 400px;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.btn-secondary {
    margin-left:50%;
    height: 40px;
}

.blur {

    /* Any browser which supports CSS3 */
   filter: blur(5px);

   /* Firefox version 34 and earlier */
   filter: url("./svg/blur.svg#gaussian_blur");

   /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
   -webkit-filter: blur(5px);
}